html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background: #DDCEBB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: #292D33;
    align-items: center;
}

header img:last-child {
    width: 50px;
    height: 50px;
}

.logo {
    width: 75px;
    height: 75px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.txt {
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-top: 50px;
    font-family: "papyrus";
}

.txt h1 {
    font-weight: bold;
    margin-bottom: 25px;
    font-family: "papyrus";
}

button {
    width: 25%;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-family: "Papyrus";
    margin-left: 15%;
    margin-top: 50px;
    transition: all 0.7s ease;
    border: 3px solid black;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 30px black;
}

.photo {
    width: 900px;
    height: auto;
    margin-top: 40px;
    margin-left: 19%;
    border-radius: 25px;
    box-shadow: 0px 0px 15px black;
    transition: 0.3s ease;
}
.photo:hover{
    width: 925px;
    height: auto;
    margin-left: 18%;
}

button:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
    width: 28%;
    height: 60px;
    box-shadow: 0px 0px 30px whitesmoke;
}

.logo:hover {
    content: url('./img/3.PAPYRUSWACKY.png');
    width: 85px;
    height: 85px;
}

.fontxt {
    width: 60%;
    height: auto;
    font-family: "Comic Sans MS";
    margin-left: 20%;
}

.fontxt h1 {
    margin-bottom: 25px;
}

.infobox {
    width: 80%;
    margin-left: 10%;
    margin-top: 25px;
    border-top: 7px solid orange;
    border-bottom: 25px solid white;
    background-color: white;
    font-family: "Comic Sans MS";
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
}

.infobox h1 {
    margin-bottom: 25px;
}

.infobox h3 {
    margin-bottom: 10px;
}

#boxp {
    font-family: "papyrus";
}

#boxcsm {
    font-family: "Comic Sans MS";
}

#box {
    font-family: sans-serif;
}

img {
    cursor: pointer;
}

.chat {
    width: 50px;
    height: 50px;
    transition: 0.3s ease;
}

.chat:hover {
    width: 60px;
    height: 60px;
}

header h1 {
    color: gray;
    font-family: "Comic Sans MS";
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
}

header h1:hover {
    color: darkgrey;
    font-size: 2.5em;
}

/* __________________________________________________________________ */

.container {

    border-top: 7px solid orange;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 30px;
    background: #fff;
    justify-content: center;
    align-items: center;
}

.text-section {
    max-width: 50%;
}

.text-section h1 {
    font-size: 2.8em;
    color: #333;
}

.text-section p {
    font-size: 1.7em;
    color: #666;
}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: "Comic Sans MS";
    text-align: center;
}

.image-section img {
    max-width: 100%;
    height: auto;
}

.about-section {
    text-align: center;
    padding: 50px;
    background-color: #DDCEBB;
}

.about-section h1 {
    font-size: 2em;
    color: #333;
}

.about-section p {
    font-size: 1.4em;
    color: #666;
}

.info-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 856px;
    margin: auto;
    background-color: #292D33;
    color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 30px black;
}

.info-item {
    padding: 10px;
    color: whitesmoke;
    border-left: 3px solid darkgrey;
    transition: 0.3s ease;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .text-section,
    .image-section {
        max-width: 100%;
    }

    .info-box {
        grid-template-columns: 1fr;
    }
}

img {
    transition: all 0.7s ease;
}

img:hover {
    border-radius: 25px;
}

footer {
    height: 90px;
    background-color: #292D33;
    color: #fff;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5em;
    margin-left: 50px;
    font-family: "Comic Sans MS";
    transition: 0.3s ease;
}

footer a:hover {
    font-family: "Comic Sans MS";
    color: white;
    font-size: 1.7em;


}

.container button {
    width: 200px;
}

.container button:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
    width: 225px;
    height: 60px;
}

.achiv {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
}

.acvmnt {
    text-align: center;
    color: orange;
    font-size: 3.5em;
    font-family: "Comic Sans MS";
    font-weight: bold;
    transition: 0.3s ease;
}

.acvmnt .cmt {
    font-size: 0.6em;
    color: #292D33;
}

.h {
    text-align: center;
    font-size: 2.5em;
}

.info-item:hover {
    border-left: 6px solid whitesmoke;
    color: white;

}

.info-item p {
    transition: 0.3s ease;
}

.info-item p:hover {
    color: rgb(200, 200, 200);
}

.txp {
    transition: 0.3s ease;
    cursor: pointer;
}

.txp:hover {
    font-size: 1.2em;
    color: darkorange;
}

.white-div {
    margin: auto;
    margin-top: 50px;
    max-width: 1250px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: auto;
    border-radius: 25px;
    box-shadow: 0px 0px 30px black;
}

.head {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 30%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.column h3 {
    color: #e2952a;
    font-size: 2em;
    margin-bottom: 10px;
}

.column p {
    font-size: 1.5em;
    line-height: 1.5;
}

.arrow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 920px;
    height: 60px;
    padding-right: 10px;
}

.arrow img {
    width: 50px;
    height: 50px;
    transition: 0.3s ease;
}

.arrow img:hover{
    width: 60px;
    height: 60px;
}
/* ____________________________________________________________ */
/* .comment{
    width: 76%;
    height: auto;
    background-color: white;
} */